body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u584 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:663px;
}
#u585 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:663px;
}
#u586 {
  position:absolute;
  left:2px;
  top:324px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:218px;
}
#u587 {
  position:absolute;
  left:0px;
  top:498px;
  width:1400px;
  height:218px;
}
#u588 {
  position:absolute;
  left:2px;
  top:101px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
