body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u380 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:663px;
}
#u381 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:663px;
}
#u382 {
  position:absolute;
  left:2px;
  top:324px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:218px;
}
#u383 {
  position:absolute;
  left:0px;
  top:498px;
  width:1400px;
  height:218px;
}
#u384 {
  position:absolute;
  left:2px;
  top:101px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
