body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1437px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:716px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:716px;
}
#u231 {
  position:absolute;
  left:2px;
  top:350px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  position:absolute;
  left:0px;
  top:186px;
  width:60px;
  height:50px;
}
#u233 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u234 {
  position:absolute;
  left:17px;
  top:76px;
  width:25px;
  height:25px;
}
#u235 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
}
#u236 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  height:25px;
}
#u237 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u238 {
  position:absolute;
  left:12px;
  top:550px;
  width:35px;
  height:35px;
}
#u239 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u240 {
  position:absolute;
  left:10px;
  top:675px;
  width:33px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u242 {
  position:absolute;
  left:5px;
  top:615px;
  width:50px;
  height:50px;
}
#u243 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u244 {
  position:absolute;
  left:49px;
  top:682px;
  width:5px;
  height:10px;
}
#u245 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:717px;
}
#u246 {
  position:absolute;
  left:60px;
  top:0px;
  width:1377px;
  height:717px;
}
#u247 {
  position:absolute;
  left:2px;
  top:350px;
  width:1373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u248 {
  position:absolute;
  left:12px;
  top:197px;
  width:35px;
  height:28px;
}
#u249 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u250 {
  position:absolute;
  left:13px;
  top:130px;
  width:35px;
  height:28px;
}
#u251 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u252 {
  position:absolute;
  left:13px;
  top:253px;
  width:35px;
  height:35px;
}
#u253 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
