body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1437px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:716px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1665 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:716px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:350px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1667 {
  position:absolute;
  left:0px;
  top:136px;
  width:60px;
  height:50px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
}
#u1669 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  height:25px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1671 {
  position:absolute;
  left:12px;
  top:550px;
  width:35px;
  height:35px;
}
#u1672 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1673 {
  position:absolute;
  left:10px;
  top:675px;
  width:33px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1674 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1675 {
  position:absolute;
  left:5px;
  top:615px;
  width:50px;
  height:50px;
}
#u1676 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u1677 {
  position:absolute;
  left:49px;
  top:682px;
  width:5px;
  height:10px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:717px;
}
#u1679 {
  position:absolute;
  left:60px;
  top:0px;
  width:1377px;
  height:717px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:350px;
  width:1373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u1681 {
  position:absolute;
  left:12px;
  top:147px;
  width:35px;
  height:28px;
}
#u1682 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u1683 {
  position:absolute;
  left:13px;
  top:80px;
  width:35px;
  height:28px;
}
#u1684 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1685 {
  position:absolute;
  left:13px;
  top:203px;
  width:35px;
  height:35px;
}
#u1686 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
