body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:717px;
}
#u464 {
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:717px;
}
#u465 {
  position:absolute;
  left:2px;
  top:350px;
  width:1373px;
  visibility:hidden;
  word-wrap:break-word;
}
