body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:716px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:716px;
}
#u205 {
  position:absolute;
  left:2px;
  top:350px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  position:absolute;
  left:0px;
  top:69px;
  width:60px;
  height:50px;
}
#u207 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
}
#u208 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  height:25px;
}
#u209 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u210 {
  position:absolute;
  left:12px;
  top:550px;
  width:35px;
  height:35px;
}
#u211 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u212 {
  position:absolute;
  left:10px;
  top:675px;
  width:33px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u214 {
  position:absolute;
  left:5px;
  top:615px;
  width:50px;
  height:50px;
}
#u215 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u216 {
  position:absolute;
  left:49px;
  top:682px;
  width:5px;
  height:10px;
}
#u217 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218 {
  position:absolute;
  left:1217px;
  top:983px;
  width:85px;
  height:77px;
}
#u219 {
  position:absolute;
  left:2px;
  top:30px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:714px;
}
#u220 {
  position:absolute;
  left:60px;
  top:0px;
  width:1240px;
  height:714px;
}
#u221 {
  position:absolute;
  left:2px;
  top:349px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u222 {
  position:absolute;
  left:12px;
  top:147px;
  width:35px;
  height:28px;
}
#u223 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u224 {
  position:absolute;
  left:13px;
  top:80px;
  width:35px;
  height:28px;
}
#u225 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u226 {
  position:absolute;
  left:13px;
  top:203px;
  width:35px;
  height:35px;
}
#u227 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  position:absolute;
  left:365px;
  top:457px;
  width:115px;
  height:49px;
}
#u229 {
  position:absolute;
  left:2px;
  top:16px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
