body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:716px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1639 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:716px;
}
#u1640 {
  position:absolute;
  left:2px;
  top:350px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1641 {
  position:absolute;
  left:0px;
  top:69px;
  width:60px;
  height:50px;
}
#u1642 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  height:25px;
}
#u1644 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1645 {
  position:absolute;
  left:12px;
  top:550px;
  width:35px;
  height:35px;
}
#u1646 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1647 {
  position:absolute;
  left:10px;
  top:675px;
  width:33px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1648 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1649 {
  position:absolute;
  left:5px;
  top:615px;
  width:50px;
  height:50px;
}
#u1650 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u1651 {
  position:absolute;
  left:49px;
  top:682px;
  width:5px;
  height:10px;
}
#u1652 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1653 {
  position:absolute;
  left:1217px;
  top:983px;
  width:85px;
  height:77px;
}
#u1654 {
  position:absolute;
  left:2px;
  top:30px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:714px;
}
#u1655 {
  position:absolute;
  left:60px;
  top:0px;
  width:1240px;
  height:714px;
}
#u1656 {
  position:absolute;
  left:2px;
  top:349px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u1657 {
  position:absolute;
  left:12px;
  top:147px;
  width:35px;
  height:28px;
}
#u1658 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u1659 {
  position:absolute;
  left:13px;
  top:80px;
  width:35px;
  height:28px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1661 {
  position:absolute;
  left:13px;
  top:203px;
  width:35px;
  height:35px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1663 {
  position:absolute;
  left:365px;
  top:457px;
  width:115px;
  height:49px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:16px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
