body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1378px;
  height:717px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:1378px;
  height:717px;
}
#u263 {
  position:absolute;
  left:2px;
  top:350px;
  width:1374px;
  visibility:hidden;
  word-wrap:break-word;
}
