.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._文本段落 {
  text-align:left;
}
._二级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
._形状 {
}
._文本框 {
  color:#000000;
  text-align:left;
}
._图片 {
  color:#000000;
}
._水平线 {
}
._图像 {
}
.placeholder {
}
.button {
}
._标题1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._标题2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._标题3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._标题4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._标题5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._流程形状 {
}
._连接线 {
}
.snapshot {
}
._文本1 {
  text-align:left;
}
._标题21 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._文本链接1 {
  color:#0000FF;
}
._形状1 {
}
._横线 {
}
._鼠标悬停文本链接 {
}
._鼠标按下文本链接 {
}
._图像1 {
  color:#000000;
}
.html__ {
  color:#000000;
}
._文本框_单行_ {
  color:#000000;
  text-align:left;
}
.icon {
}
._文本2 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
._图像2 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._文本3 {
  text-align:left;
}
._形状2 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._图像3 {
  color:#000000;
}
._文本框_单行_1 {
  color:#000000;
  text-align:left;
}
._复选框 {
  text-align:left;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.line {
}
.arrow {
}
.table {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.table_cell {
}
.marker {
  color:#FFFFFF;
}
.horizontal_line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.flow_shape {
}
.image {
  color:#000000;
}
._图片1 {
  color:#000000;
}
._形状3 {
}
.sticky_3 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._水平线1 {
}
.sticky_4 {
  text-align:left;
}
._水平线2 {
}
.primary_button {
  color:#FFFFFF;
}
.paragraph {
  text-align:left;
}
._文本段落1 {
  font-size:10px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._图片2 {
  color:#000000;
}
._图片3 {
}
