body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:663px;
}
#u386 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:663px;
}
#u387 {
  position:absolute;
  left:2px;
  top:324px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:218px;
}
#u388 {
  position:absolute;
  left:0px;
  top:498px;
  width:1400px;
  height:218px;
}
#u389 {
  position:absolute;
  left:2px;
  top:101px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
